@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
	margin: 0px;
}

.divider{
	background-color: red;
	height: 5px;
}

#divimg{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/back.jpg');
	padding: 0px;
	margin: 10px;
	height: 100%;
	width: 100%;
}

img {
  border-radius: 50%;
}